nav{
    width: 100%;
    height: 18vh;
     background: rgba(0,0,0,0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
 }
 nav .logo{
   width: 25%;
   text-align: center;
  
 }
 nav .menu{
   width: 60%;
   display: flex;
   justify-content: space-around;
 }
 a{
  margin-right: 2px;
  border: solid 1px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  
}
a:hover{
  background-color: white;
  color: rgb(124, 71, 71);
  box-shadow: 10px -10px 25px 0 rgb(124, 71, 71), -10px 10px 25px 0 rgb(255, 255, 255);
  cursor: pointer;
  transform: scale(1.3);
}

  body{
    background-color: antiquewhite;
  }
  #goree{
    background-image: url(https://lepetitjournal.com/sites/default/files/2019-01/mamelles.png);
    background-size: cover;
    height: 1000px;
    color: white;
    margin-bottom: 120px;
  }
.adja{
 
  padding-top: 450px;
  font-size: 150px;
  text-align: center;
  letter-spacing: 40px;

}
li{
  display: inline-block;
}
li p{
  text-align: center;
}
ul{

  text-align: center;
}
li img{
  border: solid 2px;
  border-radius: 15px;
}
  